{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}{{user.get_full_name}}{% endblock title %}
{% block content %}
    <h1>{{user.get_full_name}}</h1>
    <div class="profile-info">
        {% if user.profile.photo %}
        <img src="{%thumbnail user.profile.photo 180x180%}" alt="">
        {% else %}
        <img src="{% static 'images/default.png' %}" alt="">
        {% endif %}
    </div>
    {% with total_followers=user.followers.count %}
        <span class="count">
            <span class="total">{{total_followers}}</span>
            follower{{total_followers|pluralize}}
        </span>
        <a href="#" data-id="{{user.id}}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
            {% if request.user in user.followers.all %}
            Unfollow
            {% else %}
            Follow
            {% endif %}
        </a>
        <div id="image-list" class="image-container">
            {% include 'images/image/list_images.html' with images=user.images_created.all %}
        </div>
    {% endwith %}
{% endblock content %}
{% block domready %}
document.querySelector("a.follow").addEventListener("click", clickHandler);
document.querySelectorAll("a.like").forEach(event=>{
        event.addEventListener("click", clickHandler);
    })

{% endblock domready %}