{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div id="header">
        <span class="logo">Bookmarks</span>
        {%if request.user.is_authenticated%}
            <ul class="menu">
                <li {%if section == 'dashboard'%}class='selected'{% endif %}><a href="{% url 'dashboard' %}">My dashboard</a></li>
                <li {%if section == 'images'%}class='selected'{% endif %}><a href="{% url 'images:list' %}">Images</a></li>
                <li {%if section == 'people'%}class='selected'{% endif %}><a href="{% url 'user_list' %}">People</a></li>
            </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{request.user.first_name|default:request.user.username}},
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </span>

    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{message.tags}}">{{message|safe}} <a href="" class="close">x</a> </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="content">
        {% block content %}{% endblock content %}
    </div>
    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script>
        const csrftoken = Cookies.get('csrftoken')
        document.addEventListener('DOMContentLoaded', (event)=>{
        let url = ''
        var options = {
        method: "POST",
        headers: { "X-CSRFToken": csrftoken },
        mode: "same-origin",
        };
        function clickHandler(e){
            e.preventDefault();
            var button = this;
            var formData = new FormData();
            formData.append("id", button.dataset.id);
            formData.append("action", button.dataset.action);
            options["body"] = formData;
            if (e.target.classList.contains('like'))url="{% url 'images:like' %}"
            else url = "{% url 'user_follow' %}"

            fetch(url, options)
                .then((response) => response.json())
                .then((data) => {
                if (data["status"] === "ok") {
                    var prevAction = button.dataset.action;
                    if (prevAction === 'like') action = 'unlike'
                    else if (prevAction === 'unlike')action = 'like'
                    else if (prevAction === 'follow') action = 'unfollow'
                    else if (prevAction === 'unfollow') action = 'follow'

                    button.dataset.action = action;
                    button.innerHTML = action;

                    var count = button.previousElementSibling.querySelector('.total');
                    var totalLikesOrFollowers = parseInt(count.innerHTML);
                    if (prevAction === 'like' || prevAction === 'follow') count.innerHTML = totalLikesOrFollowers + 1
                    else count.innerHTML = totalLikesOrFollowers - 1
                }
                });
        }
        {% block domready %}{% endblock domready %}
        })
    </script>
</body>
</html>