{% extends 'base.html' %}
{% load static %}
{% block title %}{{image.title}}{% endblock title %}
{% block content %}
    <h1>{{image.title}}</h1>
    {% load thumbnail %}
    <a href="{{image.image.url}}">
        <img src="{%thumbnail image.image 300x0%}" alt="{{image.title}}" class="image-detail">
    </a>
    {% with total_likes=image.users_like.count users_like=image.users_like.all %}
        <div class="image-info">
            <div>
                <span class="count">
                    <span class="total">{{total_likes}}</span>
                     like{{total_likes|pluralize}}
                </span>
                <a href="#" data-id="{{image.id}}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                    {% if request.user in users_like %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </a>
            </div>
            {{image.description|linebreaks}}
        </div>
        <div class="image-likes">
            <h2>Liked by</h2>
            {% for user in image.users_like.all %}
                <div>
                    {% if user.profile.photo %}
                        <img src="{{user.profile.photo.url}}" alt="">
                    {% else %}
                        <img src="{% static 'images/default.png' %}" alt="">
                    {% endif %}
                    <p>{{user.first_name}}</p>
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="comments">
            {% include 'images/comment/comment_form.html' %}
        </div>
    {% endwith %}
{% endblock content %}
{% block domready %}
document.querySelector("a.like").addEventListener("click", clickHandler);

{% endblock domready %}