{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
    <h1>Log in to Memories</h1>
    {% if form.errors %}
        <p>
            Your username and password didn't match.
            Please try again.
        </p>
    {% else %}
        <div class="form-container">
            <form action="{% url 'login' %}" method="post">
                {{form.as_p}}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{next}}">
                <p><input type="submit" value="Login"></p>
            </form>
            <p><a href="{% url 'password_reset' %}">Forgot password</a></p>
            <hr>
            <p>Don't have an account? <a href="{% url 'register' %}">Create new account</a></p>
        </div>
    {% endif %}
{% endblock content %}